@page
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
    <title>Document</title>
</head>
<body>
    <div class="about">
        <h2>About Us</h2>
        <div class="aboutInfo">
           <div class="aboutLeft">
              <img src="~/Images/aboutImg.png" alt=""/>
           </div>
           <div class="aboutRight">
               <h3>Wikipedia</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.Exercitationem,temporibus aliquam.In distinctio eveniet, dolorem eos laudantium officiis id officia nostrum unde animi harum necessitatibus excepturi, mollitia vero magni quibusdam ipsam consequatur, dolor minima atque? Tempore maxime ad velit ex autem inventore omnis, mollitia necessitatibus cumque pariatur laudantium numquam iusto culpa. Cumque autem veniam cum voluptas ipsam modi adipisci dolor quam, voluptate, vero doloremque ratione molestiae unde pariatur. Amet iure excepturi vitae facere illo architecto voluptates repellat accusamus blanditiis unde labore exercitationem saepe perspiciatis, sit cumque recusandae rem incidunt aspernatur. Tempora blanditiis rerum harum animi dicta modi quia debitis laudantium ullam aut sit atque necessitatibus eligendi iure deleniti obcaecati voluptate, saepe quibusdam, temporibus sunt eum excepturi cum cumque. Modi sequi iusto quis cumque eaque, laborum aut exercitationem odit. Itaque dolores quia error non veniam earum id sunt nesciunt doloremque unde cumque eius, totam, fuga vero impedit eos ipsa sapiente? Nam eius asperiores at molestias earum esse mollitia! Iusto saepe facilis explicabo perferendis maxime nobis debitis blanditiis assumenda itaque aut ipsam rem, optio dolore, nisi quam libero temporibus ipsa, maiores voluptatum odit ex provident quas. Ducimus, aut. Fugit sapiente incidunt praesentium explicabo magnam modi quidem,quae necessitatibus,ipsum voluptatum labore pariatur!
                </p>
           </div>
        </div>
    </div>
</body>
</html>

