@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <title>Document</title>
</head>
<body>
    <div class="home">
        <div class="homeInfo">
            <h2>Eat Healthy Think Better</h2>
            <h4>Its a smile that make it a good day.</h4>
            <button class="btn">Know More</button>
        </div>
    </div>
</body>
</html>

