@page

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />
    <title>Document</title>
</head>
<body>
    <div class="product">
        <h2>Our Product</h2>
        <div class="productInfo">
            <div class="productCard">
              <img src="~/Images/productImg1.jpg" alt=""/>
              <h3>50-50</h3>
              <h4>Rs:5</h4>
            </div>
            <div class="productCard">
               <img src="~/Images/productImg2.jpg" alt="" />
                <h3>Cookies</h3>
                <h4>Rs:5</h4>
            </div>
            <div class="productCard">
                <img src="~/Images/productImg3.jpg" alt="" />
                <h3>Milk Bikies</h3>
                <h4>Rs:5</h4>
            </div>
        </div>
    </div>
</body>
</html>