*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.product {
    background-color: yellow;
    height: 680px;
    width: 100%;
}

.product h2 {
        color: red;
        text-align: center;
        font-weight: bold;
        padding: 8px 0;
}

.product .productInfo {
        display: flex;
        width: 100%;
        justify-content: center;
        height: 90%;
        align-items:center;
}

.product .productInfo .productCard{
    width:406px;
    height:406px;
    background-color:lightgrey;
    text-align:center;
    margin:0 20px;
    border-radius:5px;
    padding:25px 0;
    cursor:pointer;
}

.product .productInfo .productCard img{
    border-radius:5px;
}

.product .productInfo .productCard h3{
    color:red;
    font-weight:bold;
    padding:12px 0;
}

.product .productInfo .productCard h4 {
        font-weight: bold;
        padding: 12px 0;
        color:yellow;
        font-size:28px;
}


